@if(item.author.id === 1 && item.status !== 'Complete') {
  <!-- add Task -->
  <div class="mb-12">
      <div class="flex justify-end">
        <button (click)="openAddTask()"
          class="text-indigo-600 hover:cursor-pointer hover:text-indigo-500 text-3xl">
          @if(addTask) {
            Close <i class="ml-1 fa-solid fa-circle-xmark"></i>
          }@else {
            Add Task <i class="ml-1 fa-solid fa-circle-plus"></i>
          }
        </button>
      </div>
      
      <div [class.hidden]="!addTask" class="w-full">
          <form class="mb-8 mt-2 rounded-lg shadow-lg text-left
              bg-indigo-100 border text-gray-800 px-2 pb-4 border-indigo-300">
              <div class="sm:col-span-2">
                  <label for="add-Task-Title" class="block text-sm/6 font-semibold text-gray-900">Title</label>
                  <div class="mt-2.5">
                    <input type="text" name="add-Task-Title" id="add-Task-Title" autocomplete="organization" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                  </div>
              </div>
              
              <div class="sm:col-span-2 mt-3.5">
                  <label for="add-description" class="block text-sm/6 font-semibold text-gray-900">description</label>
                  <div class="mt-2.5">
                    <textarea name="add-description" id="add-description" rows="4" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"></textarea>
                  </div>
              </div>
      
              <div class="sm:col-span-2 mt-3.5">
                <label id="listbox-label" class="block text-sm/6 font-medium text-gray-900">Assigned to</label>
                <div class="relative mt-2">
                  <button (click)="toggleDropdown()"
                    type="button" class="grid w-full cursor-default grid-cols-1 rounded-md bg-white py-1.5 pr-2 pl-3 text-left text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
                    
                    <span class="col-start-1 row-start-1 flex items-center gap-3 pr-6">
                      @if(selectedPerson) {
                        <img src="{{selectedPerson.member.img}}" alt="" class="size-5 shrink-0 rounded-full">
                        <span class="block truncate">{{selectedPerson.member.username}}</span>
                      }@else {
                        <span class="block truncate">Select Member</span>
                      }
                    </span>
  
                    <svg class="col-start-1 row-start-1 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M5.22 10.22a.75.75 0 0 1 1.06 0L8 11.94l1.72-1.72a.75.75 0 1 1 1.06 1.06l-2.25 2.25a.75.75 0 0 1-1.06 0l-2.25-2.25a.75.75 0 0 1 0-1.06ZM10.78 5.78a.75.75 0 0 1-1.06 0L8 4.06 6.28 5.78a.75.75 0 0 1-1.06-1.06l2.25-2.25a.75.75 0 0 1 1.06 0l2.25 2.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
                    </svg>
                  </button>
              
                  <!--
                    Select popover, show/hide based on select state.
              
                    Entering: ""
                      From: ""
                      To: ""
                    Leaving: "transition ease-in duration-100"
                      From: "opacity-100"
                      To: "opacity-0"
                  -->
                  <ul [class.hidden]="!isOpen"
                    class="absolute z-10 mt-1 max-h-56 w-full
                   overflow-auto rounded-md bg-white py-1 
                   text-base ring-1 shadow-lg ring-black/5
                    focus:outline-hidden sm:text-sm" tabindex="-1"
                     role="listbox" aria-labelledby="listbox-label" 
                     aria-activedescendant="listbox-option-3">
                    <!--
                      Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.
              
                      Highlighted: "bg-indigo-600 text-white outline-hidden", Not Highlighted: "text-gray-900"
                    -->
                    
                    @for(person of item.members; track person.id) {
                      <li (click)="selectPerson(person)"
                        class="relative cursor-default py-2 pr-9 pl-3 text-gray-900 select-none" id="listbox-option-0" role="option">
                        <div class="flex items-center">
                          <img src="{{person.member.img}}" alt="" class="size-5 shrink-0 rounded-full">
                          <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                          <span class="ml-3 block truncate font-normal">{{ person.member.username }}</span>
                        </div>
                      </li>
                    }
  
                  </ul>
                </div>
              </div>
              
  
              <div class="mt-7">
                  <button type="submit" 
                  class="block w-full rounded-md bg-teal-500 px-3.5 py-2.5 
                  text-center text-sm font-semibold text-white shadow-xs 
                  hover:bg-teal-600 focus-visible:outline hover:cursor-pointer
                  -2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">Add Task</button>
              </div>
          </form>
      </div>
  </div>
  <!-- add Task -->
}
 

@for(it of item.tasks; track it.id) {
 
  <div class="flex items-center gap-3 mt-8">
    <button (click)="CompleteTask(it.id, !it.is_Complete)"
        [ngClass]="{
          'pointer-events-none  text-emerald-200' : it.is_Complete && it.Complete_by.id != 1,
          'text-emerald-400' : it.is_Complete && it.Complete_by.id == 1,
          'text-indigo-400' : !it.is_Complete,
        }"
      class="hover:cursor-pointer hover:scale-110 hover:opacity-75 text-4xl">

      <i [ngClass]="{
          'fa-circle-check' : it.is_Complete,
          'fa-circle' : !it.is_Complete,
        }"
        class="fa-regular"></i>

    </button>
  
    <!-- Card -->
    <div [ngClass]="{
          'bg-emerald-200 border-emerald-300' : it.is_Complete && !it.is_dpr,
          'bg-yellow-100 border-yellow-200' : it.is_Complete && it.is_dpr,
          'bg-indigo-200 border-indigo-300' : !it.is_Complete,
        }"
        class="block w-full rounded-lg shadow-lg text-left min-w-72 border p-4 text-gray-900">
  
        <!-- Card body -->
        <div class="mb-2 flex gap-3 justify-between items-center">
        
          <!-- Title -->
          <h5 class="text-xl font-bold tracking-wide">
            <i class="fa-solid fa-list-check"></i>
            {{it.title}}
          </h5>
  
          <p class="text-xs/5 text-gray-700">
            <time datetime="2023-01-23T13:23Z">{{it.created_at}}</time>
          </p>
        </div>
  
        <div class="flex sm:flex-row flex-col sm:items-center gap-1
          justify-between items-start gap-x-6">
          
          <div class="flex justify-between w-full items-center min-w-0 gap-x-16">
              @if(it.is_Complete) {
                <div class="flex items-center min-w-0 gap-x-2">
                  <span class="text-emerald-700 min-w-16 text-md font-medium">Complete By</span>
                  <img class="size-8 flex-none rounded-full" src="{{it.Complete_by.img}}" alt="">
                  <p class="text-xs/6 min-w-24 font-semibold">{{it.Complete_by.username}}</p>
  
                  <p class="ml-2 text-xs/5 text-gray-700">
                    <time datetime="2023-01-23T13:23Z">{{it.Complete_at}}</time>
                  </p>
                </div>
              }@else {
                <div class="flex items-center min-w-0 gap-x-2">
                  <span class="text-indigo-700 min-w-16 text-md font-medium">Assigend To</span>
                  <img class="size-8 flex-none rounded-full" src="{{it.assign_to.img}}" alt="">
                  <p class="text-xs/6 font-semibold">{{it.assign_to.username}}</p>
                </div>
              }
  
              
              <div class="flex justify-end items-center gap-4">
                @if(item.author.id == 1) {
                  @if(!it.is_Complete) {
                    <button (click)="openEdit(it.id)"
                        class="text-xl">
                        <i class="fa-solid fa-pen-to-square origin-center
                        hover:text-gray-700 hover:cursor-pointer hover:scale-120
                          text-gray-600"></i>
                    </button>

                    <button  (click)="deleteTask(it.id)"
                        class="text-xl">
                        <i class="fa-solid fa-trash origin-center
                        hover:text-red-400 hover:cursor-pointer hover:scale-120
                          text-red-600"></i>
                    </button>
                  }@else {
                    @if(!it.is_dpr) {
                      <button (click)="deprecateTask(it.id, true)"
                      type="button" class="inline-block rounded 
                      bg-yellow-500 text-neutral-50
                      hover:bg-yellow-700 hover:cursor-pointer px-4 py-1
                      text-xs font-medium uppercase leading-normal 
                      focus:outline-none focus:ring-0">
                        deprecate
                      </button>
                    }
                  }
                }

                @if(it.is_dpr) {
                  @if(item.author.id == 1) {
                    <button (click)="deprecateTask(it.id, false)"
                      type="button" class="inline-block rounded 
                      bg-yellow-800 text-neutral-50 px-4 py-1
                      hover:bg-yellow-700 hover:cursor-pointer
                      text-xs font-medium uppercase leading-normal">
                        deprecated
                    </button>
                  }@else {
                    <button type="button" class="inline-block rounded 
                      bg-yellow-800 text-neutral-50 px-4 py-1
                      text-xs font-medium uppercase leading-normal">
                        deprecated
                    </button>
                  }
                }

                <button [ngClass]="{
                        'fa-square-caret-down': it.id != currentTask,
                        'fa-square-caret-up': it.id == currentTask,
                    }"
                    (click)="openTask(it.id)"
                    class="hover:text-indigo-500 text-indigo-600 origin-center
                    hover:cursor-pointer text-2xl hover:scale-120">
                    <i class="fa-solid"></i>
                </button>
              </div>
          </div>
  
          
        </div>
    </div>
    <!-- Card -->
  </div>

  @if(!it.is_Complete) {
    <!-- Edit Task -->
    <div [class.hidden]="it.id != currentEdit"
    class="mb-12">
        <form class="ms-12 mb-8 mt-2 rounded-lg shadow-lg text-left
            bg-indigo-100 border text-gray-800 px-2 pb-4 border-indigo-300">
            <div class="sm:col-span-2">
                <label for="add-Task-Title-edit" class="block text-sm/6 font-semibold text-gray-900">Title</label>
                <div class="mt-2.5">
                  <input type="text" value="{{it.title}}"
                  name="add-Task-Title-edit" id="add-Task-Title-edit" autocomplete="organization" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                </div>
            </div>
            
            <div class="sm:col-span-2 mt-3.5">
                <label for="add-description-edit" class="block text-sm/6 font-semibold text-gray-900">description</label>
                <div class="mt-2.5">
                  <textarea value="{{it.description}}"
                  name="add-description-edit" id="add-description-edit" rows="4" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"></textarea>
                </div>
            </div>
    
            <div class="sm:col-span-2 mt-3.5">
              <label id="listbox-label" class="block text-sm/6 font-medium text-gray-900">Assigned to</label>
              <div class="relative mt-2">
                <button (click)="toggleDropdown()"
                  type="button" class="grid w-full cursor-default grid-cols-1 rounded-md bg-white py-1.5 pr-2 pl-3 text-left text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
                  
                  <span class="col-start-1 row-start-1 flex items-center gap-3 pr-6">
                    @if(selectedPerson) {
                      <img src="{{selectedPerson.member.img}}" alt="" class="size-5 shrink-0 rounded-full">
                      <span class="block truncate">{{selectedPerson.member.username}}</span>
                    }@else {
                      <span class="block truncate">Select Member</span>
                    }
                  </span>
  
                  <svg class="col-start-1 row-start-1 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M5.22 10.22a.75.75 0 0 1 1.06 0L8 11.94l1.72-1.72a.75.75 0 1 1 1.06 1.06l-2.25 2.25a.75.75 0 0 1-1.06 0l-2.25-2.25a.75.75 0 0 1 0-1.06ZM10.78 5.78a.75.75 0 0 1-1.06 0L8 4.06 6.28 5.78a.75.75 0 0 1-1.06-1.06l2.25-2.25a.75.75 0 0 1 1.06 0l2.25 2.25a.75.75 0 0 1 0 1.06Z" clip-rule="evenodd" />
                  </svg>
                </button>
            
                <!--
                  Select popover, show/hide based on select state.
            
                  Entering: ""
                    From: ""
                    To: ""
                  Leaving: "transition ease-in duration-100"
                    From: "opacity-100"
                    To: "opacity-0"
                -->
                <ul [class.hidden]="!isOpen"
                  class="absolute z-10 mt-1 max-h-56 w-full
                overflow-auto rounded-md bg-white py-1 
                text-base ring-1 shadow-lg ring-black/5
                  focus:outline-hidden sm:text-sm" tabindex="-1"
                  role="listbox" aria-labelledby="listbox-label" 
                  aria-activedescendant="listbox-option-3">
                  <!--
                    Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.
            
                    Highlighted: "bg-indigo-600 text-white outline-hidden", Not Highlighted: "text-gray-900"
                  -->
                  
                  @for(person of item.members; track person.id) {
                    <li (click)="selectPerson(person)"
                      class="relative cursor-default py-2 pr-9 pl-3 text-gray-900 select-none" id="listbox-option-0" role="option">
                      <div class="flex items-center">
                        <img src="{{person.member.img}}" alt="" class="size-5 shrink-0 rounded-full">
                        <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                        <span class="ml-3 block truncate font-normal">{{ person.member.username }}</span>
                      </div>
                    </li>
                  }
  
                </ul>
              </div>
            </div>
            
  
            <div class="mt-7">
              <button type="submit" 
              class="block w-full rounded-md bg-gray-500 px-3.5 py-2.5 
              text-center text-sm font-semibold text-white shadow-xs 
              hover:bg-gray-600 focus-visible:outline hover:cursor-pointer
              -2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">Edit</button>
          </div>
        </form>
    </div>
    <!-- Edit Task -->
  }

   <!-- Card description -->
   <div [ngClass]="{
      'bg-emerald-100 border-emerald-300' : it.is_Complete,
      'bg-indigo-100 border-indigo-300' : !it.is_Complete,
    }"
    [class.hidden]="it.id != currentTask"
    class="hidden mb-8 mt-2 ml-12 rounded-lg shadow-lg text-left
    border text-gray-800 px-2">
   
      <!-- Card body -->
      <pre class="p-4">{{it.description}}</pre>
     
   </div>
   <!-- Card description -->
}