<div class="px-2 py-12">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">Create Your Project</h2>
    </div>

    <form class="mx-auto mt-8 max-w-[90%]">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">

        <div>
          <label for="Title" class="block text-sm/6 font-semibold text-gray-900">Project Title</label>
          <div class="mt-2.5">
            <input type="text" name="Title" id="Title" placeholder="Title..."
            class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
          </div>
        </div>

        <div class="sm:col-span-2 grid grid-cols-2 gap-2">
          <label for="description" class="col-span-2 mb-3 text-left block text-sm/6 font-semibold text-gray-900">description</label>
          <!-- <textarea name="description" -->
           
          <textarea name="description" [(ngModel)]="markdownContent"
            id="description" rows="12" placeholder="Project description..."
            class="block w-full rounded-md bg-white px-3.5 py-2 text-base
          text-gray-900 outline-1 -outline-offset-1 outline-gray-300 col-span-2 sm:col-span-1
          placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2
            focus:outline-indigo-600"></textarea>


          <div class="w-full col-span-2 sm:col-span-1 overflow-auto scrollbar
           p-8 pr-2 border border-gray-300 rounded-md bg-gray-100">
            <pre class="w-full" [innerHTML]="getHtmlContent()"></pre>
          </div>

        </div>
      </div>

      <div class="mt-10">
        <button type="submit" 
        class="block w-full rounded-md bg-teal-500 px-3.5 py-2.5 
        text-center text-sm font-semibold text-white shadow-xs 
        hover:bg-teal-600 focus-visible:outline hover:cursor-pointer
        -2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">Create</button>
      </div>
    </form>
</div>
  