<!-- Card -->
<div class="block rounded-lg bg-white shadow dark:bg-neutral-700 text-left">

    <!-- Card image -->
    <div class="w-full h-56 relative  mb-[15%] sm:mb-[12%] md:mb-[10%] lg:mb-[5%]
        bg-linear-to-t from-sky-500 to-indigo-500">

        <div class="absolute top-[40%] left-6">
            <img class="rounded-full size-48"
            src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        </div>
    </div>


    <!-- Card body -->
    <div class="p-6 flex justify-between gap-6 items-start flex-wrap">
        <div>
            <h5 class="mb-2 text-xl font-bold tracking-wide text-neutral-800 dark:text-neutral-50">
                Ziad Ahmed Shalaby
            </h5>
    
            <div class=" text-xs">
                <span class="font-medium text-sm">Joined at: </span>{{1/8/2024 | date}}
            </div>
        </div>

        <div class="flex gap-3">
            <button (click)="opendEditForm()"
                class="text-gray-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase
                hover:bg-gray-500 hover:cursor-pointer bg-transparent hover:text-gray-100
                rounded-md border-2 border-gray-500">
                Edit <i class="ml-1 fa-solid fa-pen-to-square"></i>
            </button>

            <button (click)="deleteAccount(1)"
                class="text-red-600 px-6 pb-2 pt-2.5 text-xs font-medium uppercase
                hover:text-gray-100 hover:cursor-pointer hover:bg-red-600
                rounded-md bg-transparent border-2 border-red-600">
                Delete <i class="ml-1 fa-solid fa-trash"></i>
            </button>
        </div>
    </div>
  
</div>
<!-- Card -->

<div [class.hidden]="!EditForm"
class="mt-12 sm:w-full sm:max-w-sm mx-2 mb-8 sm:mx-auto">
    <form class="space-y-6" action="#" method="POST">
    <div>
        <label for="Username" class="block text-sm/6 font-medium text-gray-900">Username</label>
        <div class="mt-2">
        <input type="text" name="Username" id="Username" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
        </div>
    </div>

    <div>
        <label for="Photo" class="block text-sm/6 font-medium text-gray-900">Photo</label>
        <div class="mt-2 flex items-center gap-x-3">
            <label for="Photo" class="hover:cursor-pointer">
                @if(!PhotoSingup) {
                    <svg class=" size-16 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
                    </svg>
                }

                @if(PhotoSingup) {
                    <img class="h-16 w-20 rounded-full" src="{{PhotoSingup}}" alt="">
                }
            </label>


            <input type="file" id="Photo" class="hidden" (change)="onFileSelected($event)">

            <label for="Photo"
            class="rounded-md bg-white px-2.5 py-1.5 text-sm hover:cursor-pointer
                font-semibold text-gray-900 ring-1 shadow-xs w-full
            ring-gray-300 ring-inset hover:bg-gray-50">Uplode</label>

        </div>
    </div>

    <div>
        <button type="submit" 
        class="flex w-full justify-center rounded-md bg-gray-500 hover:cursor-pointer
        px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs
        hover:bg-gray-600 focus-visible:outline-2 
        focus-visible:outline-offset-2 focus-visible:outline-gray-600">Edit</button>
    </div>
    </form>
</div>
